<!-- 政府サイト互換フッター -->
<div class="layout">
<hr style="border-top: 1px dotted #8c8b8b; border-bottom: 1px dotted #fff;">
		<p class="top_modoru"><a href="#">ページのTOPへ戻る</a></p>
	</div>
</div>
<div class="footer" id="footer">
<div class="layout">
	<div class="leftBox">
		<p class="fLogo"><a href="https://www.chisou.go.jp/tiiki/kokusentoc/index.html"><img src="https://www.chisou.go.jp/tiiki/common/img02/f_logo.png" width="172" height="56" alt="内閣府国家戦略特区"></a></p>
		<p class="fName"><a href="https://www.chisou.go.jp/sousei/index.html"><img src="https://www.chisou.go.jp/tiiki/common/img02/f_name.png" width="160" height="17" alt="地方創生推進事務局"></a></p>
		<p class="address"><span class="postNum">〒100-0014</span><br>
		東京都千代田区永田町1-11-39<br>
		永田町合同庁舎6階・7階・8階<br>
		TEL 03-5510-2151</p>
	</div>
<style>
	#footer .box01 {
    float: left;
    width: 200px;
}
	#footer .box02 {
    float: left;
    width: 240px;
    margin: 0px 10px;
}
	small {
    font-size: 80%;
}
	small93 {
    font-size: 93%;
}
	small77 {
    font-size: 77%;
}
</style>
	<div class="rightBox">
		<div class="box01">
			<p class="ttl">国家戦略特区について</p>
			<ul>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/kokkasenryakutoc.html">制度概要</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/hyokaseika.html">評価と成果</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/topic03.html">検討中の規制・制度改革事項</a></li>
			</ul>
			<p class="ttl">各種会議</p>
			<ul>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/shimonkaigi.html">国家戦略特別区域諮問会議</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/kuikikaigi.html">国家戦略特別区域会議</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc_wg/index.html">国家戦略特区等<br>ワーキンググループ</a></li>
			</ul>
			<p class="ttl">関連法令・閣議決定等</p>
			<ul>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/hourei.html">関連法令等</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/kettei.html">関連閣議決定</a></li>
			</ul>
			<p class="ttl">公募情報</p>
			<ul>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/teian.html">提案募集</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/koubo.html">構成員公募</a></li>
			</ul>
		</div>
		<div class="box02">
			<p class="ttl">国家戦略特区の指定区域</p>
			<ul>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/shiteikuiki.html">指定区域<small93>（全域）</small93></a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/tokyoken.html"><span class="txt01">東京圏</span><br><small93>(東京都、神奈川県、千葉県、<small>成田市、千葉市</small>)</small93></a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/kansaiken.html"><span class="txt01">関西圏</span><br><small93>(大阪府、兵庫県、京都府)</small93></a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/niigatashi.html">新潟市</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/yabushi.html">養父市</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/fukuokashi.html">福岡市・北九州市</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/okinawaken.html">沖縄県</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/senbokushi.html">仙北市</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/sendaishi.html">仙台市</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/aichiken.html">愛知県</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/hiroshimaken_imabarishi.html">広島県・今治市</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/tsukubashi_kuikikaigi.html">つくば市</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/osaka_kuikikaigi.html">大阪府・大阪市</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/deziden_kuikikaigi.html">加賀市・茅野市・吉備中央町</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/miyagiken_kumamotoken.html">宮城県・熊本県</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/fukushimaken_nagasakiken.html">福島県・長崎県</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/hokkaido.html">北海道</a></li>
			</ul>
			<p class="ttl">スーパーシティ・<br>デジタル田園健康特区</p>
			<ul>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/supercity/openlabo/supercitycontents.html">コンテンツ</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/supercity/openlabo/supercitycontents.html#jump_forum">イベント等</a></li>
            </ul>
            <p class="ttl">連携"絆"特区</p>
            <ul>
                <li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/kizuna/kizuna.html">コンテンツ</a></li>
			</ul>
		</div>
		<div class="box03">
			<p class="ttl">規制改革メニュー</p>
			<ul>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu.html">全メニュー</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/toshisaisei.html">都市再生</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/business.html">創業</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/gaikokujinzai.html">外国人材</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/kankou.html">観光</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/iryou.html">医療</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/hoiku.html">保育</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/koyou.html">雇用</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/kyouiku.html">教育</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/nourinsuisan.html">農林水産業</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/kinmirai.html">近未来技術・サンドボックス</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/hojyokin.html">補助金等交付財産の<br>目的外使用等に係る承認手続 </a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/zenkoku.html">全国で実現</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/kouzou.html">構造改革特区へ移行</a></li>
				<br>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/sonota.html">利子補給金<br>課税の特例措置</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/supercity/openlabo/supercitycontents.html#jump">データ連携基盤整備事業</a></li>
                <li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/menu/gyousei_eigotaiou.html">「金融・資産運用特区」に係るビジネス・生活環境の整備</a></li>
			</ul>
			<p class="ttl">その他</p>
			<ul>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/events.html">イベント等</a></li>
				<li><a href="https://www.chisou.go.jp/tiiki/kokusentoc/link.html">リンク集</a></li>
			</ul>
		</div>
	</div>
</div>
</div>