<!-- 政府サイト完全互換フッター -->
<footer id="footerBlock" class="footer mt-auto w-100">
    <div class="container">
        <div class="footerTopBlock">
            <div id="footerNaviBlock">
                <div class="footerPageTop indent"><a href="#wrapper">このページの先頭へ</a></div>
                <div class="row">
                    <div class="footerAdrBox col-md-6">
                        <div class="footerOwnerName">内閣官房新しい地方経済・生活環境創生本部事務局</div>
                        <div class="footerOwnerName">内閣府地方創生推進事務局</div>
                        <div class="footerCopyrightBlock txtCenter my-2 px-0">
                            Copyright &copy; Cabinet Office, Government Of Japan. All Rights Reserved.
                        </div>
                    </div>
                    <div class="footerLink col-md-6 row mb-md-2">
                        <div class="col-md-6 offset-1 col-5 p-0 mt-2"><a href="/sousei/map.html">アクセス情報・地図</a></div>
                        <div class="col-md-6 offset-1 col-5 p-0 mt-2"><a href="/sousei/soshiki.html">組織</a></div>
                        <div class="col-md-12 p-0 mt-2 webaccessibility"><a href="/sousei/webaccessibility.html">ウェブアクセシビリティ</a></div>
                        <div class="col-md-6 offset-1 col-5 p-0 mt-2"><a href="/sousei/privacy_policy.html">プライバシーポリシー</a></div>
                        <div class="col-md-6 offset-1 col-5 p-0 mt-2"><a href="/sousei/terms.html">利用規約</a></div>
                    </div>
                </div>
                <div class="footerCopyrightBlockForSP txtCenter my-2 px-0">
                    Copyright &copy; Cabinet Office, Government Of Japan. All Rights Reserved.
                </div>
            </div>
        </div>

        <div class="footerBottomBlock">
            <div class="footerForSP row m-0 p-0">
                <div class="footerLeftBlock col-6">
                    <div class="footerLogoBox row">
                        <div class="footerLogo col-4 p-0">
                            <a href="/sousei/link/facebook_unyouhoushin.html">
                                <img src="https://www.chisou.go.jp/sousei/common/chisou/img/logo_facebook.png">
                            </a>
                        </div>
                        <div class="footerLogo col-4 p-0">
                            <a href="/sousei/link/x_unyouhoushin.html">
                                <img src="https://www.chisou.go.jp/sousei/common/chisou/img/logo_X.png">
                            </a>
                        </div>
                        <div class="footerLogo col-4 p-0">
                            <a href="/sousei/link/youtube_unyouhoushin.html">
                                <img src="https://www.chisou.go.jp/sousei/common/chisou/img/logo_youtube.png">
                            </a>
                        </div>
                        <div class="footerLogo col-4 p-0">
                            <a href="/sousei/link/note_unyouhoushin.html">
                                <img src="https://www.chisou.go.jp/sousei/common/chisou/img/logo_note.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footerLinkBox col-6 m-0 p-0">
                    <div class="footerLinkForSP"><a href="/sousei/webaccessibility.html">ウェブアクセシビリティ</a></div>
                    <div class="footerLinkForSP"><a href="/sousei/contact_index.html"><img src="https://www.chisou.go.jp/sousei/common/chisou/img/letterCutColor.png">お問合せ</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>