<!-- 政府サイト共通CSS読み込み -->
<link rel="stylesheet" href="https://www.chisou.go.jp/common/css/all.min.css">
<link rel="stylesheet" href="https://www.chisou.go.jp/common/css/common_header.css">
<link rel="stylesheet" href="https://www.chisou.go.jp/common/css/common_footer.css">
<link rel="stylesheet" href="https://www.chisou.go.jp/sousei/common/chisou/css/common.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.google.com/cse/static/style/look/v4/default.css">
<link rel="stylesheet" href="https://www.google.com/cse/static/element/6467658b9628de43/default+ja.css">

<!-- 政府サイト完全互換ヘッダー -->
<header id="headerTopBlock" class="headerTopBlockBgArea sticky-top">
    <div class="container py-0">
        <div id="searchFormBlock" class="headerRow" style="display:none;">
            <div id="searchPart">
                <div class="searchForm">
                    <script async src="https://cse.google.com/cse.js?cx=0566ce7480c9da979"></script>
                    <div class="gcse-search"></div>
                </div>
            </div>
        </div>
        <div id="headerHeight" class="headerRow row m-0">
            <div class="headerLeftBlock col-md-3 col-5">
                <a href="/sousei/"><img src="https://www.chisou.go.jp/sousei/common/chisou/img/new_logo_title2.jpg" alt="地方創生"> </a>
            </div>
            <div class="headerCenterBlock col-md-6 m-0">
                <div class="openSubMenu" data-target="seisaku">
                    <div class="openSubMenuContent">
                        <img src="https://www.chisou.go.jp/sousei/common/chisou/img/pencil.png">
                        <span class="openSubMenuTitle">政策</span>
                    </div>
                    <div id="seisakuSubMenu" class="headerLocalMenuBlock row" style="display:none;">
                        <div class="headerLocalMenuTitleBlock col-md-4">
                            <div class="row">
                                <div class="col-md-6 text-left m-0 p-0">
                                    <img src="https://www.chisou.go.jp/sousei/common/chisou/img/pencil.png">
                                    <span class="localMenuTitle">政 策</span>
                                </div>
                                <div class="col-md-6 rightBlock m-0 p-0">
                                    <span class="localSubTitle">Policy</span>
                                </div>
                            </div>
                        </div>
                        <div class="headerLocalSubMenuBlock col-md-8">
                            <ul>
                                <li><a href="/sousei/policy_index.html"><u>施策</u></a></li>
                                <li><a href="/sousei/meeting_index.html"><u>会議・資料</u></a></li>
                                <li><a href="/sousei/kakugi_index.html"><u>関連法令・閣議決定等</u></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="openSubMenu" data-target="jirei">
                    <div class="openSubMenuContent">
                        <img src="https://www.chisou.go.jp/sousei/common/chisou/img/book.png">
                        <span class="openSubMenuTitle">事例･分析</span>
                    </div>
                    <div id="jireiSubMenu" class="headerLocalMenuBlock row" style="display:none;">
                        <div class="headerLocalMenuTitleBlock col-md-4">
                            <div class="row">
                                <div class="col-md-6 text-left m-0 p-0">
                                    <img src="https://www.chisou.go.jp/sousei/common/chisou/img/book.png">
                                    <span class="localMenuTitle">事例･分析</span>
                                </div>
                                <div class="col-md-6 rightBlock m-0 p-0">
                                    <span class="localSubTitle">Case study</span>
                                    <span class="localSubTitle">Analysis</span>
                                </div>
                            </div>
                        </div>
                        <div class="headerLocalSubMenuBlock col-md-8">
                            <ul>
                                <li><a href="/sousei/data/case_index.html"><u>事例</u></a></li>
                                <li><a href="/sousei/analysis.html"><u>分析ツール</u></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="openSubMenu" data-target="houdou">
                    <div class="openSubMenuContent">
                        <a href="/sousei/kouhou/index.html">
                            <img src="https://www.chisou.go.jp/sousei/common/chisou/img/microphone.png">
                            <span class="openSubMenuTitle">報道</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="headerRightBox col-md-3 row m-0 p-0">
                <div class="headerCenterRightBlock col-md-5 row m-0 p-0">
                    <div id="openSearchForm" class="col-md-6 my-auto w-10">
                        <div>
                            <img src="https://www.chisou.go.jp/sousei/common/chisou/img/search.png">
                            <div>検索</div>
                        </div>
                    </div>
                    <div class="col-md-6 my-auto w-10">
                        <a href="/sousei/contact_index.html">
                            <div>
                                <img src="https://www.chisou.go.jp/sousei/common/chisou/img/letter.png">
                                <div>お問合せ</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="headerRightBlock col-md-7 row">
                    <!-- subMenuBlock Start -->
                    <div class="headerSubMenuBlock col-md-3">
                        <a href="/sousei/link/facebook_unyouhoushin.html">
                            <img src="https://www.chisou.go.jp/sousei/common/chisou/img/logo_facebook.png">
                        </a>
                    </div>
                    <div class="headerSubMenuBlock col-md-3">
                        <a href="/sousei/link/x_unyouhoushin.html">
                            <img src="https://www.chisou.go.jp/sousei/common/chisou/img/logo_X.png">
                        </a>
                    </div>
                    <div class="headerSubMenuBlock col-md-3">
                        <a href="/sousei/link/youtube_unyouhoushin.html">
                            <img src="https://www.chisou.go.jp/sousei/common/chisou/img/logo_youtube.png">
                        </a>
                    </div>
                    <div class="headerSubMenuBlock col-md-3">
                        <a href="/sousei/link/note_unyouhoushin.html">
                            <img src="https://www.chisou.go.jp/sousei/common/chisou/img/logo_note.png">
                        </a>
                    </div>
                    <!-- subMenuBlock End -->
                </div>
            </div>

            <div class="headerForSP offset-3 col-4 row">
                <div id="openSearch" class="headerIconForSP col-6">
                    <img src="https://www.chisou.go.jp/sousei/common/chisou/img/search.png">
                </div>
                <div id="searchForSP" class="headerRow" style="display:none;">
                    <div id="searchPartForSP">
                        <div class="searchForm">
                            <script async src="https://cse.google.com/cse.js?cx=0566ce7480c9da979"></script>
                            <div class="gcse-search"></div>
                        </div>
                    </div>
                    <div id="closeSearch">
                        <span> 閉じる</span>
                    </div>
                </div>
                <div id="openMenu" class="headerIconForSP col-6">
                    <div>
                        <img src="https://www.chisou.go.jp/sousei/common/chisou/img/menu.png">
                        <div class="openMenuName">メニュー</div>
                    </div>
                </div>
                <div class="menuForSP" style="display: none;">
                    <div class="contentsForSearch">
                        <div class="searchContent">
                            <div class="searchText">
                                キーワードで探す
                            </div>
                            <div class="searchForm">
                                <script async src="https://cse.google.com/cse.js?cx=0566ce7480c9da979"></script>
                                <div class="gcse-search"></div>
                            </div>
                        </div>
                    </div>
                    <div class="headerLocalMenuBlock">
                        <div class="headerLocalMenuTitleBlock">
                            <input id="seisakuMenu" class="localMenu" type="checkbox">
                            <label class="localMenuTitle" for="seisakuMenu">政策</label>
                            <div class="headerLocalSubMenuBlock">
                                <ul>
                                    <li><a href="/sousei/policy_index.html"><u>施策</u></a></li>
                                    <li><a href="/sousei/meeting_index.html"><u>会議・資料</u></a></li>
                                    <li><a href="/sousei/kakugi_index.html"><u>関連法令・閣議決定等</u></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="headerLocalMenuBlock">
                        <div class="headerLocalMenuTitleBlock">
                            <input id="jireiMenu" class="localMenu" type="checkbox">
                            <label class="localMenuTitle" for="jireiMenu">事例･分析</label>
                            <div class="headerLocalSubMenuBlock">
                                <ul>
                                    <li><a href="/sousei/data/case_index.html"><u>事例</u></a></li>
                                    <li><a href="/sousei/analysis.html"><u>分析ツール</u></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="headerLocalMenuBlock">
                        <div class="headerLocalMenuTitleBlock">
                            <input id="houdouMenu" class="localMenu" type="checkbox">
                            <label class="localMenuTitle" for="houdouMenu">報道</label>
                            <div class="headerLocalSubMenuBlock">
                                <ul>
                                    <li><a href="/sousei/kouhou/index.html"><u>報道</u></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="closeMenu">
                        <span> 閉じる</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    // 政府サイト互換JavaScript
    $(document).ready(function() {
        // サブメニューの開閉
        $('.openSubMenu').on('click', function() {
            var target = $(this).data('target');
            $('#' + target + 'SubMenu').slideToggle();
        });
        
        // 検索フォーム開閉
        $('#openSearchForm').on('click', function() {
            $('#searchFormBlock').slideToggle();
        });
        
        // SP用メニュー
        $('#openMenu').on('click', function() {
            $('.menuForSP').slideToggle();
        });
        
        $('#closeMenu').on('click', function() {
            $('.menuForSP').slideUp();
        });
        
        $('#openSearch').on('click', function() {
            $('#searchForSP').slideToggle();
        });
        
        $('#closeSearch').on('click', function() {
            $('#searchForSP').slideUp();
        });
    });
</script>